.jumbotron {
  padding: 20px;
}
.container-fluid {
  width: 85%;
}
.logo {
  margin: 100px 0px 10px;
}

body {
  background: #efefee;
}
h2 {
  font-family: "La Belle Aurore", cursive;
  font-size: 24px;
  font-weight: 300;
  padding: 30px 20px;
}

#about {
  padding-top: 40px;
}
h1,
h3,
h5,
p {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: 350;
  padding-bottom: 70px;
  text-align: left;
}
.photoAboutSection {
  padding: 10px 0px 10px;
  width: 400px;
}
.photoAboutSection,
.photoVanCustomers {
  align-items: center;
  display: flex;
  margin: auto;
}

.textAbout {
  line-height: 32px;
  padding: 25px 0px 20px;
}
.textHighlight {
  font-weight: bolder;
}

.textFindUs {
  font-weight: bold;
  padding: 50px 0px 0px;
}
.aboutTed {
  padding: 150px 10px;
}

.photoVanCustomers {
  width: 450px;
}

#events {
  padding: 100px 10px 150px;
}

.textEvents {
}
footer {
  margin: 200px 0px 25px;
  text-align: center;
}
